<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Inamkes Gold Theatre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/headstyle.css}">
</head>
<body>
       <div class="hd-main" th:replace="~{/common/header :: headerPart}"></div>
    <div class="container">
        <aside class="sidebar" id="sde">
            <div class="sidebar-header">
                <h1>Inamkes Gold Theatre</h1>
            </div>
            <nav class="nav">
                <a th:href="@{/}"><i class="fa fa-home"></i> Home</a>
                <a th:href="@{/register}"><i class="fa fa-user-plus"></i> Register</a>
                <a th:href="@{/login}" class="active"><i class="fa fa-sign-in"></i> Login</a>
                <a th:href="@{/about}"><i class="fa fa-info-circle"></i> About us</a>
                <a th:href="@{/contact}"><i class="fa fa-phone"></i> Contact us</a>
            </nav>
        </aside>
        <main class="register-content">
            <div class="form-container">
                <span style="color: blue; font-size: 12px" th:text="${confirm}"></span>
                <h2>Login</h2>
                <span style="color: red; font-size: 12px" th:text="${failed}"></span>
                <span style="color: blue; font-size: 12px" th:text="${relogin}"></span><br>
                <form th:action="loginCheck" method="post">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" id="email" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-options">
                        <a th:href="@{/forgot-password}">Forget password</a>
                    </div>
                    <button type="submit" class="register-btn">Login</button>
                    <p>New user? <a th:href="@{/register}">Click here</a></p>
                </form>
            </div>
        </main>
    </div>
    <div th:replace="~{/common/footer :: footerPart}"></div>
</body>
</html>
