<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>settings</title>
<link rel="stylesheet" th:href="@{/css/headStyle.css}">
<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css}">
</head>
<body>
      <div class="hd-main">
       <div>
         <img id="lgo" alt="logo" th:src="@{/images/logo.jpg}">
      </div>
      
      <div class="search-box">
         <form th:action="@{/search}" method="get" style="display: flex;">
            <input type="search" placeholder="Search Movies By Name" aria-label="Search" class="search-input" name="movieName">
              <button class="search-button">
              <span class="search-icon"></span>
              </button>
         </form>
      </div>
      
      <div class="button-container">
            <a href="/settings" class="btn login-btn" id="usr-btn"><span th:text="${user.name}"></span></a>
            <a href="/logout" class="btn signup-btn" id="usr-btn">Logout</a>
      </div>
   </div>
   
   <div class="flex"> 
      <aside class="sidebar hm-sidebar" id="sde">
            <div class="sidebar-header">
                <h1>Inamkes Gold Theatre</h1>
            </div>
            <nav class="nav">
                <a th:href="@{/home}"><i class="fa fa-home"></i> Home</a>
                <a th:href="@{/settings}"><i class="fa-solid fa-gear"></i> Settings</a>
                <a th:href="@{/orders}"><i class="fa-solid fa-clock-rotate-left"></i> Orders</a>
                <a th:href="@{/about}"><i class="fa-solid fa-address-card"></i> About Us</a>
                <a th:href="@{/contact}"><i class="fa fa-phone"></i> Contact us</a>
                <a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            </nav>
        </aside>
        
        <div class="usrOrder-container">
           <table>
              <thead>
                 <tr>
                    <th><strong>Movie</strong>
                    <th><strong>Price</strong>
                    <th><strong>Total</strong>
                    <th><strong>Booking Date</strong>
                    <th><strong>Show Date</strong>
                    <th><strong>Show Time</strong>
                 </tr>
              </thead>
              <tbody>
                 <tr th:each="orderInfo : ${orders}">
                    <td th:text="${orderInfo.movieName}"></td>
                    <td>270</td>
                    <td th:text="${orderInfo.total}"></td>
                    <td th:text="${orderInfo.bookOnDate}"></td>
                    <td th:text="${orderInfo.bookOnDate}"></td>
                    <td th:text="${orderInfo.showTime}"></td>
                 </tr>
              </tbody>
           </table>
       </div>
   </div>
   <div th:replace="~{/common/footer :: footerPart}"></div>  
</body>
</html>